$help-color: #ab8dcc;
$main-visual-height: 65vh;
$tile-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

@font-face { font-family: blackchancery; src: url('/fonts/black-chancery.ttf'); }
@font-face { font-family: firasans; src: url('/fonts/firasans/FiraSans-Regular.ttf'); }

.app {
  display: grid;
  background-color: honeydew;
  height: 100vh;
  min-height: -webkit-fill-available;
  grid-template-rows: auto minmax(40vh, 1fr) auto;
  grid-template-areas:
    "header"
    "main"
    "footer";

  .header {
    grid-area: header;
    font-size: calc(18px + (40 - 18) * ((100vw - 320px) / (1920 - 320)));
    padding-top: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: darkslategray;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;

    .header-title {
      flex: 1 1 auto;
      margin-top: 0;
      margin-bottom: 0.25em;
      margin-right: 2em;
      color: #fafafa;
      text-shadow: 1px 1px 2px black, 0 0 25px #ab8dcc, 0 0 5px darkblue;
      font-family: blackchancery;
      white-space: nowrap;
      text-decoration: none;
    }

    #collapsible {
      padding: 0;
      color: white;
    }
  }

  .main {
    grid-area: main;
    overflow: auto;
    margin-bottom: 0.5em;

    .inner-main {
      display: grid;
      grid-template-rows: 1fr minmax(10em, 12em);
      grid-gap: 1em;
      grid-template-areas:
        "main-visual"
        "wiki-card";
      width: calc(100% - 3em);
      margin-left: 1em;
      margin-right: 1em;

      .main-visual {
        grid-area: main-visual;
        display: grid;
        grid-template-columns: 30% 1fr;
        grid-template-rows: minmax(0, $main-visual-height);
        grid-gap: 2em;
        grid-template-areas:
          "interval subject";
          margin-top: 0.5em;

        .interval-visual {
          position: relative;
          grid-area: interval;
          overflow: auto;
          background-color: white;
          box-shadow: $tile-shadow;

          .interval-visual-help {
            position: absolute;
            left: 0.5em;
            top: 0.5em;

            #interval-visual-help-btn {
              cursor: pointer;
              border: none;
              font-size: 18pt;
              color: $help-color;
              background-color: transparent;
              box-shadow: $tile-shadow;
            }

            #interval-visual-help-btn:active {
              color: white;
              background-color: $help-color;
            }
          }
        }

        .subject-visual {
          grid-area: subject;
          overflow: auto;
          background-color: white;
          box-shadow: $tile-shadow;
        }
      }

      .wiki-card {
        grid-area: wiki-card;
        margin-bottom: 1em;
      }
    }
  }

  .footer {
    grid-area: footer;
    border-top: solid;
    border-bottom: dashed;
    border-color: lightgray;
    border-width: thin;
    margin-top: auto;
    width: 100%;
    background: linear-gradient(to bottom, lightgray, #ffffff 55%, #ffffff);

    #app-footer-copyright {
      float: left;
      width: 70%;
      margin-left: 0.5em;
      margin-top: 1em;
      margin-bottom: 0.1em;
      font-size: 8pt;
      color: darkslategray;
    }

    #app-footer-logo > img {
      float: right;
      height: 2em;
    }
  }
}
