$max-height: 65vh;

.interval-visual-loading {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

#interval-visual-component {
  max-height: $max-height;
  max-width: $max-height;
  margin-top: 2em;

  #interval-visual-component-svg {
    max-height: $max-height;
    max-width: $max-height;
    font: 8pt firasans;
    background-color: #ffffff;

    .path-unselected {
      stroke: #4d4d4d;
      stroke-width: 1;
      cursor: grab;
    }

    .path-selected {
      stroke: black;
      stroke-width: 2;
      cursor: grabbing;
    }

    .path-invisible {
      pointer-events: none;
    }
  }
}
