$max-height: 65vh;
$font: bold 10pt firasans;
$bg-border-color: #2e035e;
$tile-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

.subject-visual-loading {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.subject-visual-component {
  display: flex;
  justify-content: center;
  margin-top: 1em;

  .subject-visual-nocontent {
    font-weight: bold;
    border-radius: 1em;
    border: 0.15em solid #000;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 5em;
    box-shadow: $tile-shadow;
    background-color: #fffbdc;
  }

  #subject-visual-component-svg {
    font: $font;

    .subject-container {

      .axis {
        font: $font;
      }

      .laneBackground {
        stroke-width: 1;
        stroke: $bg-border-color;
      }

      .subject-hover {
        stroke-width: 2;
        stroke: black;
        box-shadow: $tile-shadow;
      }
    }
  }
}
