$max-height: 65vh;
$font: bold 12px firasans;
$bg-border-color: #2e035e;
$tile-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

#subject-visual-legend {
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  height: 100%;
  z-index: 1000;
  transition: 0.5s;

  .subject-visual-legend-closebtn {
    float:right;
    margin-top: 0.5em;
    margin-right: 1em;
    text-decoration: none;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px slategray;
    color: #a7a7a7;
    font-size: 14pt;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .subject-visual-legend-content {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-left: 0.5em;
    width: 20em;

    #subject-visual-legend-title {
      flex: 1 1 auto;
      margin-left: 1.5em;
      font-weight: bold;
    }

    [class^="react-pagination-js-"] {
      float: right;
      padding-bottom: 1em;
    }

    .subject-visual-legend-items {
      clear: both;
      margin-top: 2em;

      li {
        list-style-type: none;
        // font-size: 25pt;

        span {
          display: inline-flex;
          align-items: center;

          svg {
            margin-right: 0.75em;
          }
        }
      }
    }
  }
}

#subject-visual-legend.hide {
  width: 0;
  overflow: hidden;
  color: white;
}

#subject-visual-legend.show {
  width: 30%;
  overflow: hidden;
  opacity: 1;
  color: black;
  box-shadow: $tile-shadow;
}
