$tile-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

#wiki-article {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-shadow: $tile-shadow;
  font-family: firasans;
  background-color: white;

  #wiki-header {
    flex: 0 1 auto;
    display: flex;
    border-bottom: solid;
    border-color: lightgray;
    border-width: thin;
    margin-top: 0.1em;
    margin-left: 0.2em;
    margin-right: 0.25em;
    margin-bottom: 0.2em;
    white-space: nowrap;
    font-size: 16pt;

    h3 {
      margin-bottom: 0;
    }

    #wiki-header-title {
      flex: 1 1 auto;
      font-weight: bold;
      margin-left: 0.7em;
      margin-top: 0.2em;
      margin-right: 0.25em;
    }

    #ma-defn {
      flex: 0 1 auto;
      font-style: italic;
      font-size: 10pt;
      margin-top: 1.25em;
      margin-right: 0.75em;
      margin-bottom: 0;
    }

    #wiki-header-dates {
      flex: 0 1 auto;
      font-weight: bold;
      margin-top: 0.2em;
      margin-right: 0.2em;
    }

    #wiki-header-logo {
      flex: 0 1 auto;

      img {
        height: 1.5em;
      }
    }
  }

  #wiki-main {
    display: flex;
    flex: 1 0 auto;
    overflow: auto;
    margin-left: 1em;
    min-height: 6em;
    max-height: 6em;
    font-size: 14pt;

    #wiki-main-inner {
      margin-bottom: 0.25em;
      width: 100%;

      #wiki-loading {
        display: flex;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
      }

      p {
        margin-right: 0.2em;
        margin-block-start: 0;
      }
    }
  }

  #wiki-footer {
    flex: 0 0 0;
    padding-top: 0.1em;
    border-top: solid;
    border-color: lightgray;
    border-width: thin;
    margin-left: 0.2em;
    margin-right: 0.25em;
    font-size: 9pt;

    #link-instruction {
      float: right;
      font-style: italic;
      margin-left: 1em;
      margin-top: 0.4em;
      margin-bottom: 0;
    }

    #wiki-footer-logo {
      float: right;
      height: 2em;

      img {
        height: 2em;
      }
    }
  }
}
